gitignore
MG.suo
MGlib.ncb
MGlib.suo
TestNormal.data
app/mgapp/TestNormal.data
app/mgapp/error_log.txt
app/mgapp/mgapp.vcproj.Akkouh-Laptop.Akkouh.user
app/mgxll/mgxll.vcproj.Akkouh-Laptop.Akkouh.user
app/mgxll/xl_iface/Book1.xlsx
app/mgxll/xl_iface/Book2.xlsx
app/mgxll/xl_iface/Book3.xlsx
app/mgxll/xl_iface/Book4.xlsx
app/mgxll/xlw.log
bin/
error_log.txt
lib/RELEASE/
lib/win/debug/
lib/win/release/
run.exe.stackdump
src/mggenpricer/mggenpricer.vcproj.Akkouh-Laptop.Akkouh.user
src/mginfra/mginfra.vcproj.Akkouh-Laptop.Akkouh.user
src/mgmktdata/mgmktdata.vcproj.Akkouh-Laptop.Akkouh.user
src/mgmodel/mgmodel.vcproj.Akkouh-Laptop.Akkouh.user
src/mgnova/mgnova.vcproj.Akkouh-Laptop.Akkouh.user
src/mgnumerical/mgnumerical.vcproj.Akkouh-Laptop.Akkouh.user
src/xlw/xlw.ncb
src/xlw/xlw.vcproj.Akkouh-Laptop.Akkouh.user
UpgradeLog.XML
_UpgradeReport_Files/
src/gsl/gsl.ncb
src/gsl/gsl.suo
src/gsl/win32/cblas.vcproj.Akkouh-Laptop.Akkouh.user
src/gsl/win32/gsl.vcproj.Akkouh-Laptop.Akkouh.user
src/gsl/win32/include/
src/gsl/win32/lib/
src/gsl/win32/obj/
lib/win/Debug/
src/gsl/win32/example/example.ncb
src/gsl/win32/example/example.suo
src/gsl/win32/example/example.vcproj.Akkouh-Laptop.Akkouh.user
src/gsl/win32/test_rng.ncb
src/gsl/win32/test_rng.sln
src/gsl/win32/test_rng.suo
src/gsl/win32/test_rng.vcproj.Akkouh-Laptop.Akkouh.user
app//mgxll/xl_iface/Book5.xlsx
app/mgxll/xl_iface/Book5.xlsx
src/mgsecurity/mgsecurity.vcproj.Akkouh-Laptop.Akkouh.user
app/mgxll/xl_iface/Book6.xlsx
app/mgxll/xl_iface/Book7.xlsx
/src/vanilla/vanilla.vcproj.Akkouh-Laptop.Akkouh.user
/src/genpricer/genpricer.vcproj.Akkouh-Laptop.Akkouh.user
/src/mktdata/mktdata.vcproj.Akkouh-Laptop.Akkouh.user
/src/nova/nova.vcproj.Akkouh-Laptop.Akkouh.user
