/gsl.ncb
/gsl.suo
/win32/cblas.vcproj.Akkouh-Laptop.Akkouh.user
/win32/example/example.ncb
/win32/example/example.suo
/win32/example/example.vcproj.Akkouh-Laptop.Akkouh.user
/win32/gsl.vcproj.Akkouh-Laptop.Akkouh.user
/win32/include/gsl/gsl_blas.h
/win32/include/gsl/gsl_blas_types.h
/win32/include/gsl/gsl_block.h
/win32/include/gsl/gsl_block_char.h
/win32/include/gsl/gsl_block_complex_double.h
/win32/include/gsl/gsl_block_complex_float.h
/win32/include/gsl/gsl_block_complex_long_double.h
/win32/include/gsl/gsl_block_double.h
/win32/include/gsl/gsl_block_float.h
/win32/include/gsl/gsl_block_int.h
/win32/include/gsl/gsl_block_long.h
/win32/include/gsl/gsl_block_long_double.h
/win32/include/gsl/gsl_block_short.h
/win32/include/gsl/gsl_block_uchar.h
/win32/include/gsl/gsl_block_uint.h
/win32/include/gsl/gsl_block_ulong.h
/win32/include/gsl/gsl_block_ushort.h
/win32/include/gsl/gsl_bspline.h
/win32/include/gsl/gsl_cblas.h
/win32/include/gsl/gsl_cdf.h
/win32/include/gsl/gsl_chebyshev.h
/win32/include/gsl/gsl_check_range.h
/win32/include/gsl/gsl_combination.h
/win32/include/gsl/gsl_complex.h
/win32/include/gsl/gsl_complex_math.h
/win32/include/gsl/gsl_const.h
/win32/include/gsl/gsl_const_cgs.h
/win32/include/gsl/gsl_const_cgsm.h
/win32/include/gsl/gsl_const_mks.h
/win32/include/gsl/gsl_const_mksa.h
/win32/include/gsl/gsl_const_num.h
/win32/include/gsl/gsl_deriv.h
/win32/include/gsl/gsl_dft_complex.h
/win32/include/gsl/gsl_dft_complex_float.h
/win32/include/gsl/gsl_dht.h
/win32/include/gsl/gsl_diff.h
/win32/include/gsl/gsl_eigen.h
/win32/include/gsl/gsl_errno.h
/win32/include/gsl/gsl_fft.h
/win32/include/gsl/gsl_fft_complex.h
/win32/include/gsl/gsl_fft_complex_float.h
/win32/include/gsl/gsl_fft_halfcomplex.h
/win32/include/gsl/gsl_fft_halfcomplex_float.h
/win32/include/gsl/gsl_fft_real.h
/win32/include/gsl/gsl_fft_real_float.h
/win32/include/gsl/gsl_fit.h
/win32/include/gsl/gsl_heapsort.h
/win32/include/gsl/gsl_histogram.h
/win32/include/gsl/gsl_histogram2d.h
/win32/include/gsl/gsl_ieee_utils.h
/win32/include/gsl/gsl_inline.h
/win32/include/gsl/gsl_integration.h
/win32/include/gsl/gsl_interp.h
/win32/include/gsl/gsl_linalg.h
/win32/include/gsl/gsl_machine.h
/win32/include/gsl/gsl_math.h
/win32/include/gsl/gsl_matrix.h
/win32/include/gsl/gsl_matrix_char.h
/win32/include/gsl/gsl_matrix_complex_double.h
/win32/include/gsl/gsl_matrix_complex_float.h
/win32/include/gsl/gsl_matrix_complex_long_double.h
/win32/include/gsl/gsl_matrix_double.h
/win32/include/gsl/gsl_matrix_float.h
/win32/include/gsl/gsl_matrix_int.h
/win32/include/gsl/gsl_matrix_long.h
/win32/include/gsl/gsl_matrix_long_double.h
/win32/include/gsl/gsl_matrix_short.h
/win32/include/gsl/gsl_matrix_uchar.h
/win32/include/gsl/gsl_matrix_uint.h
/win32/include/gsl/gsl_matrix_ulong.h
/win32/include/gsl/gsl_matrix_ushort.h
/win32/include/gsl/gsl_message.h
/win32/include/gsl/gsl_min.h
/win32/include/gsl/gsl_minmax.h
/win32/include/gsl/gsl_mode.h
/win32/include/gsl/gsl_monte.h
/win32/include/gsl/gsl_monte_miser.h
/win32/include/gsl/gsl_monte_plain.h
/win32/include/gsl/gsl_monte_vegas.h
/win32/include/gsl/gsl_multifit.h
/win32/include/gsl/gsl_multifit_nlin.h
/win32/include/gsl/gsl_multimin.h
/win32/include/gsl/gsl_multiroots.h
/win32/include/gsl/gsl_multiset.h
/win32/include/gsl/gsl_nan.h
/win32/include/gsl/gsl_ntuple.h
/win32/include/gsl/gsl_odeiv.h
/win32/include/gsl/gsl_odeiv2.h
/win32/include/gsl/gsl_permutation.h
/win32/include/gsl/gsl_permute.h
/win32/include/gsl/gsl_permute_char.h
/win32/include/gsl/gsl_permute_complex_double.h
/win32/include/gsl/gsl_permute_complex_float.h
/win32/include/gsl/gsl_permute_complex_long_double.h
/win32/include/gsl/gsl_permute_double.h
/win32/include/gsl/gsl_permute_float.h
/win32/include/gsl/gsl_permute_int.h
/win32/include/gsl/gsl_permute_long.h
/win32/include/gsl/gsl_permute_long_double.h
/win32/include/gsl/gsl_permute_short.h
/win32/include/gsl/gsl_permute_uchar.h
/win32/include/gsl/gsl_permute_uint.h
/win32/include/gsl/gsl_permute_ulong.h
/win32/include/gsl/gsl_permute_ushort.h
/win32/include/gsl/gsl_permute_vector.h
/win32/include/gsl/gsl_permute_vector_char.h
/win32/include/gsl/gsl_permute_vector_complex_double.h
/win32/include/gsl/gsl_permute_vector_complex_float.h
/win32/include/gsl/gsl_permute_vector_complex_long_double.h
/win32/include/gsl/gsl_permute_vector_double.h
/win32/include/gsl/gsl_permute_vector_float.h
/win32/include/gsl/gsl_permute_vector_int.h
/win32/include/gsl/gsl_permute_vector_long.h
/win32/include/gsl/gsl_permute_vector_long_double.h
/win32/include/gsl/gsl_permute_vector_short.h
/win32/include/gsl/gsl_permute_vector_uchar.h
/win32/include/gsl/gsl_permute_vector_uint.h
/win32/include/gsl/gsl_permute_vector_ulong.h
/win32/include/gsl/gsl_permute_vector_ushort.h
/win32/include/gsl/gsl_poly.h
/win32/include/gsl/gsl_pow_int.h
/win32/include/gsl/gsl_precision.h
/win32/include/gsl/gsl_qrng.h
/win32/include/gsl/gsl_randist.h
/win32/include/gsl/gsl_rng.h
/win32/include/gsl/gsl_roots.h
/win32/include/gsl/gsl_sf.h
/win32/include/gsl/gsl_sf_airy.h
/win32/include/gsl/gsl_sf_bessel.h
/win32/include/gsl/gsl_sf_clausen.h
/win32/include/gsl/gsl_sf_coulomb.h
/win32/include/gsl/gsl_sf_coupling.h
/win32/include/gsl/gsl_sf_dawson.h
/win32/include/gsl/gsl_sf_debye.h
/win32/include/gsl/gsl_sf_dilog.h
/win32/include/gsl/gsl_sf_elementary.h
/win32/include/gsl/gsl_sf_ellint.h
/win32/include/gsl/gsl_sf_elljac.h
/win32/include/gsl/gsl_sf_erf.h
/win32/include/gsl/gsl_sf_exp.h
/win32/include/gsl/gsl_sf_expint.h
/win32/include/gsl/gsl_sf_fermi_dirac.h
/win32/include/gsl/gsl_sf_gamma.h
/win32/include/gsl/gsl_sf_gegenbauer.h
/win32/include/gsl/gsl_sf_hyperg.h
/win32/include/gsl/gsl_sf_laguerre.h
/win32/include/gsl/gsl_sf_lambert.h
/win32/include/gsl/gsl_sf_legendre.h
/win32/include/gsl/gsl_sf_log.h
/win32/include/gsl/gsl_sf_mathieu.h
/win32/include/gsl/gsl_sf_pow_int.h
/win32/include/gsl/gsl_sf_psi.h
/win32/include/gsl/gsl_sf_result.h
/win32/include/gsl/gsl_sf_synchrotron.h
/win32/include/gsl/gsl_sf_transport.h
/win32/include/gsl/gsl_sf_trig.h
/win32/include/gsl/gsl_sf_zeta.h
/win32/include/gsl/gsl_siman.h
/win32/include/gsl/gsl_sort.h
/win32/include/gsl/gsl_sort_char.h
/win32/include/gsl/gsl_sort_double.h
/win32/include/gsl/gsl_sort_float.h
/win32/include/gsl/gsl_sort_int.h
/win32/include/gsl/gsl_sort_long.h
/win32/include/gsl/gsl_sort_long_double.h
/win32/include/gsl/gsl_sort_short.h
/win32/include/gsl/gsl_sort_uchar.h
/win32/include/gsl/gsl_sort_uint.h
/win32/include/gsl/gsl_sort_ulong.h
/win32/include/gsl/gsl_sort_ushort.h
/win32/include/gsl/gsl_sort_vector.h
/win32/include/gsl/gsl_sort_vector_char.h
/win32/include/gsl/gsl_sort_vector_double.h
/win32/include/gsl/gsl_sort_vector_float.h
/win32/include/gsl/gsl_sort_vector_int.h
/win32/include/gsl/gsl_sort_vector_long.h
/win32/include/gsl/gsl_sort_vector_long_double.h
/win32/include/gsl/gsl_sort_vector_short.h
/win32/include/gsl/gsl_sort_vector_uchar.h
/win32/include/gsl/gsl_sort_vector_uint.h
/win32/include/gsl/gsl_sort_vector_ulong.h
/win32/include/gsl/gsl_sort_vector_ushort.h
/win32/include/gsl/gsl_specfunc.h
/win32/include/gsl/gsl_spline.h
/win32/include/gsl/gsl_statistics.h
/win32/include/gsl/gsl_statistics_char.h
/win32/include/gsl/gsl_statistics_double.h
/win32/include/gsl/gsl_statistics_float.h
/win32/include/gsl/gsl_statistics_int.h
/win32/include/gsl/gsl_statistics_long.h
/win32/include/gsl/gsl_statistics_long_double.h
/win32/include/gsl/gsl_statistics_short.h
/win32/include/gsl/gsl_statistics_uchar.h
/win32/include/gsl/gsl_statistics_uint.h
/win32/include/gsl/gsl_statistics_ulong.h
/win32/include/gsl/gsl_statistics_ushort.h
/win32/include/gsl/gsl_sum.h
/win32/include/gsl/gsl_sys.h
/win32/include/gsl/gsl_test.h
/win32/include/gsl/gsl_types.h
/win32/include/gsl/gsl_vector.h
/win32/include/gsl/gsl_vector_char.h
/win32/include/gsl/gsl_vector_complex.h
/win32/include/gsl/gsl_vector_complex_double.h
/win32/include/gsl/gsl_vector_complex_float.h
/win32/include/gsl/gsl_vector_complex_long_double.h
/win32/include/gsl/gsl_vector_double.h
/win32/include/gsl/gsl_vector_float.h
/win32/include/gsl/gsl_vector_int.h
/win32/include/gsl/gsl_vector_long.h
/win32/include/gsl/gsl_vector_long_double.h
/win32/include/gsl/gsl_vector_short.h
/win32/include/gsl/gsl_vector_uchar.h
/win32/include/gsl/gsl_vector_uint.h
/win32/include/gsl/gsl_vector_ulong.h
/win32/include/gsl/gsl_vector_ushort.h
/win32/include/gsl/gsl_version.h
/win32/include/gsl/gsl_wavelet.h
/win32/include/gsl/gsl_wavelet2d.h
/win32/test_rng.ncb
/win32/test_rng.sln
/win32/test_rng.suo
/win32/test_rng.vcproj.Akkouh-Laptop.Akkouh.user
