/.deps/gsl-histogram.Po
/.deps/gsl-randist.Po
/.deps/version.Plo
/Makefile
/VC/Debug/VC.exe
/VC/Debug/VC.ilk
/VC/Debug/VC.pdb
/VC/Debug/cblas.lib
/VC/VC.opensdf
/VC/VC.sdf
/VC/VC.suo
/VC/VC/Debug/CL.read.1.tlog
/VC/VC/Debug/CL.write.1.tlog
/VC/VC/Debug/VC.exe.embed.manifest
/VC/VC/Debug/VC.exe.embed.manifest.res
/VC/VC/Debug/VC.exe.intermediate.manifest
/VC/VC/Debug/VC.lastbuildstate
/VC/VC/Debug/VC.log
/VC/VC/Debug/VC_manifest.rc
/VC/VC/Debug/cl.command.1.tlog
/VC/VC/Debug/link-cvtres.read.1.tlog
/VC/VC/Debug/link-cvtres.write.1.tlog
/VC/VC/Debug/link.19380-cvtres.read.1.tlog
/VC/VC/Debug/link.19380-cvtres.write.1.tlog
/VC/VC/Debug/link.19380.read.1.tlog
/VC/VC/Debug/link.19380.write.1.tlog
/VC/VC/Debug/link.command.1.tlog
/VC/VC/Debug/link.read.1.tlog
/VC/VC/Debug/link.write.1.tlog
/VC/VC/Debug/mt.command.1.tlog
/VC/VC/Debug/mt.read.1.tlog
/VC/VC/Debug/mt.write.1.tlog
/VC/VC/Debug/rc.command.1.tlog
/VC/VC/Debug/rc.read.1.tlog
/VC/VC/Debug/rc.write.1.tlog
/VC/VC/Debug/run.obj
/VC/VC/Debug/vc100.idb
/VC/VC/Debug/vc100.pdb
/VC/VC/VC.vcxproj.user
/VC/cblas/Debug/CL.read.1.tlog
/VC/cblas/Debug/CL.write.1.tlog
/VC/cblas/Debug/Lib-link.read.1.tlog
/VC/cblas/Debug/Lib-link.write.1.tlog
/VC/cblas/Debug/caxpy.obj
/VC/cblas/Debug/cblas.lastbuildstate
/VC/cblas/Debug/cblas.log
/VC/cblas/Debug/ccopy.obj
/VC/cblas/Debug/cdotc_sub.obj
/VC/cblas/Debug/cdotu_sub.obj
/VC/cblas/Debug/cgbmv.obj
/VC/cblas/Debug/cgemm.obj
/VC/cblas/Debug/cgemv.obj
/VC/cblas/Debug/cgerc.obj
/VC/cblas/Debug/cgeru.obj
/VC/cblas/Debug/chbmv.obj
/VC/cblas/Debug/chemm.obj
/VC/cblas/Debug/chemv.obj
/VC/cblas/Debug/cher.obj
/VC/cblas/Debug/cher2.obj
/VC/cblas/Debug/cher2k.obj
/VC/cblas/Debug/cherk.obj
/VC/cblas/Debug/chpmv.obj
/VC/cblas/Debug/chpr.obj
/VC/cblas/Debug/chpr2.obj
/VC/cblas/Debug/cl.command.1.tlog
/VC/cblas/Debug/cscal.obj
/VC/cblas/Debug/csscal.obj
/VC/cblas/Debug/cswap.obj
/VC/cblas/Debug/csymm.obj
/VC/cblas/Debug/csyr2k.obj
/VC/cblas/Debug/csyrk.obj
/VC/cblas/Debug/ctbmv.obj
/VC/cblas/Debug/ctbsv.obj
/VC/cblas/Debug/ctpmv.obj
/VC/cblas/Debug/ctpsv.obj
/VC/cblas/Debug/ctrmm.obj
/VC/cblas/Debug/ctrmv.obj
/VC/cblas/Debug/ctrsm.obj
/VC/cblas/Debug/ctrsv.obj
/VC/cblas/Debug/dasum.obj
/VC/cblas/Debug/daxpy.obj
/VC/cblas/Debug/dcopy.obj
/VC/cblas/Debug/ddot.obj
/VC/cblas/Debug/dgbmv.obj
/VC/cblas/Debug/dgemm.obj
/VC/cblas/Debug/dgemv.obj
/VC/cblas/Debug/dger.obj
/VC/cblas/Debug/dnrm2.obj
/VC/cblas/Debug/drot.obj
/VC/cblas/Debug/drotg.obj
/VC/cblas/Debug/drotm.obj
/VC/cblas/Debug/drotmg.obj
/VC/cblas/Debug/dsbmv.obj
/VC/cblas/Debug/dscal.obj
/VC/cblas/Debug/dsdot.obj
/VC/cblas/Debug/dspmv.obj
/VC/cblas/Debug/dspr.obj
/VC/cblas/Debug/dspr2.obj
/VC/cblas/Debug/dswap.obj
/VC/cblas/Debug/dsymm.obj
/VC/cblas/Debug/dsymv.obj
/VC/cblas/Debug/dsyr.obj
/VC/cblas/Debug/dsyr2.obj
/VC/cblas/Debug/dsyr2k.obj
/VC/cblas/Debug/dsyrk.obj
/VC/cblas/Debug/dtbmv.obj
/VC/cblas/Debug/dtbsv.obj
/VC/cblas/Debug/dtpmv.obj
/VC/cblas/Debug/dtpsv.obj
/VC/cblas/Debug/dtrmm.obj
/VC/cblas/Debug/dtrmv.obj
/VC/cblas/Debug/dtrsm.obj
/VC/cblas/Debug/dtrsv.obj
/VC/cblas/Debug/dzasum.obj
/VC/cblas/Debug/dznrm2.obj
/VC/cblas/Debug/hypot.obj
/VC/cblas/Debug/icamax.obj
/VC/cblas/Debug/idamax.obj
/VC/cblas/Debug/isamax.obj
/VC/cblas/Debug/izamax.obj
/VC/cblas/Debug/lib.command.1.tlog
/VC/cblas/Debug/sasum.obj
/VC/cblas/Debug/saxpy.obj
/VC/cblas/Debug/scasum.obj
/VC/cblas/Debug/scnrm2.obj
/VC/cblas/Debug/scopy.obj
/VC/cblas/Debug/sdot.obj
/VC/cblas/Debug/sdsdot.obj
/VC/cblas/Debug/sgbmv.obj
/VC/cblas/Debug/sgemm.obj
/VC/cblas/Debug/sgemv.obj
/VC/cblas/Debug/sger.obj
/VC/cblas/Debug/snrm2.obj
/VC/cblas/Debug/srot.obj
/VC/cblas/Debug/srotg.obj
/VC/cblas/Debug/srotm.obj
/VC/cblas/Debug/srotmg.obj
/VC/cblas/Debug/ssbmv.obj
/VC/cblas/Debug/sscal.obj
/VC/cblas/Debug/sspmv.obj
/VC/cblas/Debug/sspr.obj
/VC/cblas/Debug/sspr2.obj
/VC/cblas/Debug/sswap.obj
/VC/cblas/Debug/ssymm.obj
/VC/cblas/Debug/ssymv.obj
/VC/cblas/Debug/ssyr.obj
/VC/cblas/Debug/ssyr2.obj
/VC/cblas/Debug/ssyr2k.obj
/VC/cblas/Debug/ssyrk.obj
/VC/cblas/Debug/stbmv.obj
/VC/cblas/Debug/stbsv.obj
/VC/cblas/Debug/stpmv.obj
/VC/cblas/Debug/stpsv.obj
/VC/cblas/Debug/strmm.obj
/VC/cblas/Debug/strmv.obj
/VC/cblas/Debug/strsm.obj
/VC/cblas/Debug/strsv.obj
/VC/cblas/Debug/test.obj
/VC/cblas/Debug/test_amax.obj
/VC/cblas/Debug/test_asum.obj
/VC/cblas/Debug/test_axpy.obj
/VC/cblas/Debug/test_copy.obj
/VC/cblas/Debug/test_dot.obj
/VC/cblas/Debug/test_gbmv.obj
/VC/cblas/Debug/test_gemm.obj
/VC/cblas/Debug/test_gemv.obj
/VC/cblas/Debug/test_ger.obj
/VC/cblas/Debug/test_hbmv.obj
/VC/cblas/Debug/test_hemm.obj
/VC/cblas/Debug/test_hemv.obj
/VC/cblas/Debug/test_her.obj
/VC/cblas/Debug/test_her2.obj
/VC/cblas/Debug/test_her2k.obj
/VC/cblas/Debug/test_herk.obj
/VC/cblas/Debug/test_hpmv.obj
/VC/cblas/Debug/test_hpr.obj
/VC/cblas/Debug/test_hpr2.obj
/VC/cblas/Debug/test_nrm2.obj
/VC/cblas/Debug/test_rot.obj
/VC/cblas/Debug/test_rotg.obj
/VC/cblas/Debug/test_rotm.obj
/VC/cblas/Debug/test_rotmg.obj
/VC/cblas/Debug/test_sbmv.obj
/VC/cblas/Debug/test_scal.obj
/VC/cblas/Debug/test_spmv.obj
/VC/cblas/Debug/test_spr.obj
/VC/cblas/Debug/test_spr2.obj
/VC/cblas/Debug/test_swap.obj
/VC/cblas/Debug/test_symm.obj
/VC/cblas/Debug/test_symv.obj
/VC/cblas/Debug/test_syr.obj
/VC/cblas/Debug/test_syr2.obj
/VC/cblas/Debug/test_syr2k.obj
/VC/cblas/Debug/test_syrk.obj
/VC/cblas/Debug/test_tbmv.obj
/VC/cblas/Debug/test_tbsv.obj
/VC/cblas/Debug/test_tpmv.obj
/VC/cblas/Debug/test_tpsv.obj
/VC/cblas/Debug/test_trmm.obj
/VC/cblas/Debug/test_trmv.obj
/VC/cblas/Debug/test_trsm.obj
/VC/cblas/Debug/test_trsv.obj
/VC/cblas/Debug/tests.obj
/VC/cblas/Debug/vc100.idb
/VC/cblas/Debug/vc100.pdb
/VC/cblas/Debug/xerbla.obj
/VC/cblas/Debug/zaxpy.obj
/VC/cblas/Debug/zcopy.obj
/VC/cblas/Debug/zdotc_sub.obj
/VC/cblas/Debug/zdotu_sub.obj
/VC/cblas/Debug/zdscal.obj
/VC/cblas/Debug/zgbmv.obj
/VC/cblas/Debug/zgemm.obj
/VC/cblas/Debug/zgemv.obj
/VC/cblas/Debug/zgerc.obj
/VC/cblas/Debug/zgeru.obj
/VC/cblas/Debug/zhbmv.obj
/VC/cblas/Debug/zhemm.obj
/VC/cblas/Debug/zhemv.obj
/VC/cblas/Debug/zher.obj
/VC/cblas/Debug/zher2.obj
/VC/cblas/Debug/zher2k.obj
/VC/cblas/Debug/zherk.obj
/VC/cblas/Debug/zhpmv.obj
/VC/cblas/Debug/zhpr.obj
/VC/cblas/Debug/zhpr2.obj
/VC/cblas/Debug/zscal.obj
/VC/cblas/Debug/zswap.obj
/VC/cblas/Debug/zsymm.obj
/VC/cblas/Debug/zsyr2k.obj
/VC/cblas/Debug/zsyrk.obj
/VC/cblas/Debug/ztbmv.obj
/VC/cblas/Debug/ztbsv.obj
/VC/cblas/Debug/ztpmv.obj
/VC/cblas/Debug/ztpsv.obj
/VC/cblas/Debug/ztrmm.obj
/VC/cblas/Debug/ztrmv.obj
/VC/cblas/Debug/ztrsm.obj
/VC/cblas/Debug/ztrsv.obj
/VC/cblas/cblas.vcxproj.user
/VC/ipch/cblas-df79c0c1/cblas-e7575e91.ipch
/VC/ipch/vc-6a92bf89/vc-585503a5.ipch
/blas/.deps/blas.Plo
/blas/Makefile
/block/.deps/block.Plo
/block/.deps/file.Plo
/block/.deps/init.Plo
/block/.deps/test.Po
/block/Makefile
/bspline/.deps/bspline.Plo
/bspline/.deps/test.Po
/bspline/Makefile
/cblas/.deps/caxpy.Plo
/cblas/.deps/ccopy.Plo
/cblas/.deps/cdotc_sub.Plo
/cblas/.deps/cdotu_sub.Plo
/cblas/.deps/cgbmv.Plo
/cblas/.deps/cgemm.Plo
/cblas/.deps/cgemv.Plo
/cblas/.deps/cgerc.Plo
/cblas/.deps/cgeru.Plo
/cblas/.deps/chbmv.Plo
/cblas/.deps/chemm.Plo
/cblas/.deps/chemv.Plo
/cblas/.deps/cher.Plo
/cblas/.deps/cher2.Plo
/cblas/.deps/cher2k.Plo
/cblas/.deps/cherk.Plo
/cblas/.deps/chpmv.Plo
/cblas/.deps/chpr.Plo
/cblas/.deps/chpr2.Plo
/cblas/.deps/cscal.Plo
/cblas/.deps/csscal.Plo
/cblas/.deps/cswap.Plo
/cblas/.deps/csymm.Plo
/cblas/.deps/csyr2k.Plo
/cblas/.deps/csyrk.Plo
/cblas/.deps/ctbmv.Plo
/cblas/.deps/ctbsv.Plo
/cblas/.deps/ctpmv.Plo
/cblas/.deps/ctpsv.Plo
/cblas/.deps/ctrmm.Plo
/cblas/.deps/ctrmv.Plo
/cblas/.deps/ctrsm.Plo
/cblas/.deps/ctrsv.Plo
/cblas/.deps/dasum.Plo
/cblas/.deps/daxpy.Plo
/cblas/.deps/dcopy.Plo
/cblas/.deps/ddot.Plo
/cblas/.deps/dgbmv.Plo
/cblas/.deps/dgemm.Plo
/cblas/.deps/dgemv.Plo
/cblas/.deps/dger.Plo
/cblas/.deps/dnrm2.Plo
/cblas/.deps/drot.Plo
/cblas/.deps/drotg.Plo
/cblas/.deps/drotm.Plo
/cblas/.deps/drotmg.Plo
/cblas/.deps/dsbmv.Plo
/cblas/.deps/dscal.Plo
/cblas/.deps/dsdot.Plo
/cblas/.deps/dspmv.Plo
/cblas/.deps/dspr.Plo
/cblas/.deps/dspr2.Plo
/cblas/.deps/dswap.Plo
/cblas/.deps/dsymm.Plo
/cblas/.deps/dsymv.Plo
/cblas/.deps/dsyr.Plo
/cblas/.deps/dsyr2.Plo
/cblas/.deps/dsyr2k.Plo
/cblas/.deps/dsyrk.Plo
/cblas/.deps/dtbmv.Plo
/cblas/.deps/dtbsv.Plo
/cblas/.deps/dtpmv.Plo
/cblas/.deps/dtpsv.Plo
/cblas/.deps/dtrmm.Plo
/cblas/.deps/dtrmv.Plo
/cblas/.deps/dtrsm.Plo
/cblas/.deps/dtrsv.Plo
/cblas/.deps/dzasum.Plo
/cblas/.deps/dznrm2.Plo
/cblas/.deps/icamax.Plo
/cblas/.deps/idamax.Plo
/cblas/.deps/isamax.Plo
/cblas/.deps/izamax.Plo
/cblas/.deps/sasum.Plo
/cblas/.deps/saxpy.Plo
/cblas/.deps/scasum.Plo
/cblas/.deps/scnrm2.Plo
/cblas/.deps/scopy.Plo
/cblas/.deps/sdot.Plo
/cblas/.deps/sdsdot.Plo
/cblas/.deps/sgbmv.Plo
/cblas/.deps/sgemm.Plo
/cblas/.deps/sgemv.Plo
/cblas/.deps/sger.Plo
/cblas/.deps/snrm2.Plo
/cblas/.deps/srot.Plo
/cblas/.deps/srotg.Plo
/cblas/.deps/srotm.Plo
/cblas/.deps/srotmg.Plo
/cblas/.deps/ssbmv.Plo
/cblas/.deps/sscal.Plo
/cblas/.deps/sspmv.Plo
/cblas/.deps/sspr.Plo
/cblas/.deps/sspr2.Plo
/cblas/.deps/sswap.Plo
/cblas/.deps/ssymm.Plo
/cblas/.deps/ssymv.Plo
/cblas/.deps/ssyr.Plo
/cblas/.deps/ssyr2.Plo
/cblas/.deps/ssyr2k.Plo
/cblas/.deps/ssyrk.Plo
/cblas/.deps/stbmv.Plo
/cblas/.deps/stbsv.Plo
/cblas/.deps/stpmv.Plo
/cblas/.deps/stpsv.Plo
/cblas/.deps/strmm.Plo
/cblas/.deps/strmv.Plo
/cblas/.deps/strsm.Plo
/cblas/.deps/strsv.Plo
/cblas/.deps/test.Po
/cblas/.deps/test_amax.Po
/cblas/.deps/test_asum.Po
/cblas/.deps/test_axpy.Po
/cblas/.deps/test_copy.Po
/cblas/.deps/test_dot.Po
/cblas/.deps/test_gbmv.Po
/cblas/.deps/test_gemm.Po
/cblas/.deps/test_gemv.Po
/cblas/.deps/test_ger.Po
/cblas/.deps/test_hbmv.Po
/cblas/.deps/test_hemm.Po
/cblas/.deps/test_hemv.Po
/cblas/.deps/test_her.Po
/cblas/.deps/test_her2.Po
/cblas/.deps/test_her2k.Po
/cblas/.deps/test_herk.Po
/cblas/.deps/test_hpmv.Po
/cblas/.deps/test_hpr.Po
/cblas/.deps/test_hpr2.Po
/cblas/.deps/test_nrm2.Po
/cblas/.deps/test_rot.Po
/cblas/.deps/test_rotg.Po
/cblas/.deps/test_rotm.Po
/cblas/.deps/test_rotmg.Po
/cblas/.deps/test_sbmv.Po
/cblas/.deps/test_scal.Po
/cblas/.deps/test_spmv.Po
/cblas/.deps/test_spr.Po
/cblas/.deps/test_spr2.Po
/cblas/.deps/test_swap.Po
/cblas/.deps/test_symm.Po
/cblas/.deps/test_symv.Po
/cblas/.deps/test_syr.Po
/cblas/.deps/test_syr2.Po
/cblas/.deps/test_syr2k.Po
/cblas/.deps/test_syrk.Po
/cblas/.deps/test_tbmv.Po
/cblas/.deps/test_tbsv.Po
/cblas/.deps/test_tpmv.Po
/cblas/.deps/test_tpsv.Po
/cblas/.deps/test_trmm.Po
/cblas/.deps/test_trmv.Po
/cblas/.deps/test_trsm.Po
/cblas/.deps/test_trsv.Po
/cblas/.deps/xerbla.Plo
/cblas/.deps/zaxpy.Plo
/cblas/.deps/zcopy.Plo
/cblas/.deps/zdotc_sub.Plo
/cblas/.deps/zdotu_sub.Plo
/cblas/.deps/zdscal.Plo
/cblas/.deps/zgbmv.Plo
/cblas/.deps/zgemm.Plo
/cblas/.deps/zgemv.Plo
/cblas/.deps/zgerc.Plo
/cblas/.deps/zgeru.Plo
/cblas/.deps/zhbmv.Plo
/cblas/.deps/zhemm.Plo
/cblas/.deps/zhemv.Plo
/cblas/.deps/zher.Plo
/cblas/.deps/zher2.Plo
/cblas/.deps/zher2k.Plo
/cblas/.deps/zherk.Plo
/cblas/.deps/zhpmv.Plo
/cblas/.deps/zhpr.Plo
/cblas/.deps/zhpr2.Plo
/cblas/.deps/zscal.Plo
/cblas/.deps/zswap.Plo
/cblas/.deps/zsymm.Plo
/cblas/.deps/zsyr2k.Plo
/cblas/.deps/zsyrk.Plo
/cblas/.deps/ztbmv.Plo
/cblas/.deps/ztbsv.Plo
/cblas/.deps/ztpmv.Plo
/cblas/.deps/ztpsv.Plo
/cblas/.deps/ztrmm.Plo
/cblas/.deps/ztrmv.Plo
/cblas/.deps/ztrsm.Plo
/cblas/.deps/ztrsv.Plo
/cblas/Makefile
/cdf/.deps/beta.Plo
/cdf/.deps/betainv.Plo
/cdf/.deps/binomial.Plo
/cdf/.deps/cauchy.Plo
/cdf/.deps/cauchyinv.Plo
/cdf/.deps/chisq.Plo
/cdf/.deps/chisqinv.Plo
/cdf/.deps/exponential.Plo
/cdf/.deps/exponentialinv.Plo
/cdf/.deps/exppow.Plo
/cdf/.deps/fdist.Plo
/cdf/.deps/fdistinv.Plo
/cdf/.deps/flat.Plo
/cdf/.deps/flatinv.Plo
/cdf/.deps/gamma.Plo
/cdf/.deps/gammainv.Plo
/cdf/.deps/gauss.Plo
/cdf/.deps/gaussinv.Plo
/cdf/.deps/geometric.Plo
/cdf/.deps/gumbel1.Plo
/cdf/.deps/gumbel1inv.Plo
/cdf/.deps/gumbel2.Plo
/cdf/.deps/gumbel2inv.Plo
/cdf/.deps/hypergeometric.Plo
/cdf/.deps/laplace.Plo
/cdf/.deps/laplaceinv.Plo
/cdf/.deps/logistic.Plo
/cdf/.deps/logisticinv.Plo
/cdf/.deps/lognormal.Plo
/cdf/.deps/lognormalinv.Plo
/cdf/.deps/nbinomial.Plo
/cdf/.deps/pareto.Plo
/cdf/.deps/paretoinv.Plo
/cdf/.deps/pascal.Plo
/cdf/.deps/poisson.Plo
/cdf/.deps/rayleigh.Plo
/cdf/.deps/rayleighinv.Plo
/cdf/.deps/tdist.Plo
/cdf/.deps/tdistinv.Plo
/cdf/.deps/test.Po
/cdf/.deps/weibull.Plo
/cdf/.deps/weibullinv.Plo
/cdf/Makefile
/cheb/.deps/deriv.Plo
/cheb/.deps/eval.Plo
/cheb/.deps/init.Plo
/cheb/.deps/integ.Plo
/cheb/.deps/test.Po
/cheb/Makefile
/combination/.deps/combination.Plo
/combination/.deps/file.Plo
/combination/.deps/init.Plo
/combination/.deps/inline.Plo
/combination/.deps/test.Po
/combination/Makefile
/complex/.deps/inline.Plo
/complex/.deps/math.Plo
/complex/.deps/test.Po
/complex/Makefile
/config.log
/config.status
/const/.deps/test.Po
/const/Makefile
/deriv/.deps/deriv.Plo
/deriv/.deps/test.Po
/deriv/Makefile
/dht/.deps/dht.Plo
/dht/.deps/test.Po
/dht/Makefile
/diff/.deps/diff.Plo
/diff/.deps/test.Po
/diff/Makefile
/doc/Makefile
/eigen/.deps/francis.Plo
/eigen/.deps/gen.Plo
/eigen/.deps/genherm.Plo
/eigen/.deps/genhermv.Plo
/eigen/.deps/gensymm.Plo
/eigen/.deps/gensymmv.Plo
/eigen/.deps/genv.Plo
/eigen/.deps/herm.Plo
/eigen/.deps/hermv.Plo
/eigen/.deps/jacobi.Plo
/eigen/.deps/nonsymm.Plo
/eigen/.deps/nonsymmv.Plo
/eigen/.deps/schur.Plo
/eigen/.deps/sort.Plo
/eigen/.deps/symm.Plo
/eigen/.deps/symmv.Plo
/eigen/.deps/test.Po
/eigen/Makefile
/err/.deps/error.Plo
/err/.deps/message.Plo
/err/.deps/stream.Plo
/err/.deps/strerror.Plo
/err/.deps/test.Po
/err/Makefile
/fft/.deps/dft.Plo
/fft/.deps/fft.Plo
/fft/.deps/signals.Po
/fft/.deps/test.Po
/fft/Makefile
/fit/.deps/linear.Plo
/fit/.deps/test.Po
/fit/Makefile
/gsl.spec
/gsl/Makefile
/histogram/.deps/add.Plo
/histogram/.deps/add2d.Plo
/histogram/.deps/calloc_range.Plo
/histogram/.deps/calloc_range2d.Plo
/histogram/.deps/copy.Plo
/histogram/.deps/copy2d.Plo
/histogram/.deps/file.Plo
/histogram/.deps/file2d.Plo
/histogram/.deps/get.Plo
/histogram/.deps/get2d.Plo
/histogram/.deps/init.Plo
/histogram/.deps/init2d.Plo
/histogram/.deps/maxval.Plo
/histogram/.deps/maxval2d.Plo
/histogram/.deps/oper.Plo
/histogram/.deps/oper2d.Plo
/histogram/.deps/params.Plo
/histogram/.deps/params2d.Plo
/histogram/.deps/pdf.Plo
/histogram/.deps/pdf2d.Plo
/histogram/.deps/reset.Plo
/histogram/.deps/reset2d.Plo
/histogram/.deps/stat.Plo
/histogram/.deps/stat2d.Plo
/histogram/.deps/test.Po
/histogram/.deps/test1d.Po
/histogram/.deps/test1d_resample.Po
/histogram/.deps/test1d_trap.Po
/histogram/.deps/test2d.Po
/histogram/.deps/test2d_resample.Po
/histogram/.deps/test2d_trap.Po
/histogram/Makefile
/ieee-utils/.deps/env.Plo
/ieee-utils/.deps/fp.Plo
/ieee-utils/.deps/make_rep.Plo
/ieee-utils/.deps/print.Plo
/ieee-utils/.deps/read.Plo
/ieee-utils/.deps/test.Po
/ieee-utils/Makefile
/integration/.deps/cquad.Plo
/integration/.deps/glfixed.Plo
/integration/.deps/qag.Plo
/integration/.deps/qagp.Plo
/integration/.deps/qags.Plo
/integration/.deps/qawc.Plo
/integration/.deps/qawf.Plo
/integration/.deps/qawo.Plo
/integration/.deps/qaws.Plo
/integration/.deps/qcheb.Plo
/integration/.deps/qk.Plo
/integration/.deps/qk15.Plo
/integration/.deps/qk21.Plo
/integration/.deps/qk31.Plo
/integration/.deps/qk41.Plo
/integration/.deps/qk51.Plo
/integration/.deps/qk61.Plo
/integration/.deps/qmomo.Plo
/integration/.deps/qmomof.Plo
/integration/.deps/qng.Plo
/integration/.deps/test.Po
/integration/.deps/tests.Po
/integration/.deps/workspace.Plo
/integration/Makefile
/interpolation/.deps/accel.Plo
/interpolation/.deps/akima.Plo
/interpolation/.deps/cspline.Plo
/interpolation/.deps/inline.Plo
/interpolation/.deps/interp.Plo
/interpolation/.deps/linear.Plo
/interpolation/.deps/poly.Plo
/interpolation/.deps/spline.Plo
/interpolation/.deps/test.Po
/interpolation/Makefile
/libtool
/linalg/.deps/balance.Plo
/linalg/.deps/balancemat.Plo
/linalg/.deps/bidiag.Plo
/linalg/.deps/cholesky.Plo
/linalg/.deps/choleskyc.Plo
/linalg/.deps/exponential.Plo
/linalg/.deps/hermtd.Plo
/linalg/.deps/hessenberg.Plo
/linalg/.deps/hesstri.Plo
/linalg/.deps/hh.Plo
/linalg/.deps/householder.Plo
/linalg/.deps/householdercomplex.Plo
/linalg/.deps/lq.Plo
/linalg/.deps/lu.Plo
/linalg/.deps/luc.Plo
/linalg/.deps/multiply.Plo
/linalg/.deps/ptlq.Plo
/linalg/.deps/qr.Plo
/linalg/.deps/qrpt.Plo
/linalg/.deps/svd.Plo
/linalg/.deps/symmtd.Plo
/linalg/.deps/test.Po
/linalg/.deps/tridiag.Plo
/linalg/Makefile
/matrix/.deps/copy.Plo
/matrix/.deps/file.Plo
/matrix/.deps/getset.Plo
/matrix/.deps/init.Plo
/matrix/.deps/matrix.Plo
/matrix/.deps/minmax.Plo
/matrix/.deps/oper.Plo
/matrix/.deps/prop.Plo
/matrix/.deps/rowcol.Plo
/matrix/.deps/submatrix.Plo
/matrix/.deps/swap.Plo
/matrix/.deps/test.Po
/matrix/.deps/test_static.Po
/matrix/.deps/view.Plo
/matrix/Makefile
/min/.deps/bracketing.Plo
/min/.deps/brent.Plo
/min/.deps/convergence.Plo
/min/.deps/fsolver.Plo
/min/.deps/golden.Plo
/min/.deps/quad_golden.Plo
/min/.deps/test.Po
/min/.deps/test_funcs.Po
/min/Makefile
/monte/.deps/miser.Plo
/monte/.deps/plain.Plo
/monte/.deps/test.Po
/monte/.deps/vegas.Plo
/monte/Makefile
/multifit/.deps/convergence.Plo
/multifit/.deps/covar.Plo
/multifit/.deps/fdfsolver.Plo
/multifit/.deps/fsolver.Plo
/multifit/.deps/gradient.Plo
/multifit/.deps/lmder.Plo
/multifit/.deps/multilinear.Plo
/multifit/.deps/test.Po
/multifit/.deps/work.Plo
/multifit/Makefile
/multimin/.deps/conjugate_fr.Plo
/multimin/.deps/conjugate_pr.Plo
/multimin/.deps/convergence.Plo
/multimin/.deps/diff.Plo
/multimin/.deps/fdfminimizer.Plo
/multimin/.deps/fminimizer.Plo
/multimin/.deps/simplex.Plo
/multimin/.deps/simplex2.Plo
/multimin/.deps/steepest_descent.Plo
/multimin/.deps/test.Po
/multimin/.deps/test_funcs.Po
/multimin/.deps/vector_bfgs.Plo
/multimin/.deps/vector_bfgs2.Plo
/multimin/Makefile
/multiroots/.deps/broyden.Plo
/multiroots/.deps/convergence.Plo
/multiroots/.deps/dnewton.Plo
/multiroots/.deps/fdfsolver.Plo
/multiroots/.deps/fdjac.Plo
/multiroots/.deps/fsolver.Plo
/multiroots/.deps/gnewton.Plo
/multiroots/.deps/hybrid.Plo
/multiroots/.deps/hybridj.Plo
/multiroots/.deps/newton.Plo
/multiroots/.deps/test.Po
/multiroots/.deps/test_funcs.Po
/multiroots/Makefile
/multiset/.deps/file.Plo
/multiset/.deps/init.Plo
/multiset/.deps/inline.Plo
/multiset/.deps/multiset.Plo
/multiset/.deps/test.Po
/multiset/Makefile
/ntuple/.deps/ntuple.Plo
/ntuple/.deps/test.Po
/ntuple/Makefile
/ode-initval/.deps/bsimp.Plo
/ode-initval/.deps/control.Plo
/ode-initval/.deps/cscal.Plo
/ode-initval/.deps/cstd.Plo
/ode-initval/.deps/evolve.Plo
/ode-initval/.deps/gear1.Plo
/ode-initval/.deps/gear2.Plo
/ode-initval/.deps/rk2.Plo
/ode-initval/.deps/rk2imp.Plo
/ode-initval/.deps/rk2simp.Plo
/ode-initval/.deps/rk4.Plo
/ode-initval/.deps/rk4imp.Plo
/ode-initval/.deps/rk8pd.Plo
/ode-initval/.deps/rkck.Plo
/ode-initval/.deps/rkf45.Plo
/ode-initval/.deps/step.Plo
/ode-initval/.deps/test.Po
/ode-initval/Makefile
/ode-initval2/.deps/bsimp.Plo
/ode-initval2/.deps/control.Plo
/ode-initval2/.deps/cscal.Plo
/ode-initval2/.deps/cstd.Plo
/ode-initval2/.deps/driver.Plo
/ode-initval2/.deps/evolve.Plo
/ode-initval2/.deps/msadams.Plo
/ode-initval2/.deps/msbdf.Plo
/ode-initval2/.deps/rk1imp.Plo
/ode-initval2/.deps/rk2.Plo
/ode-initval2/.deps/rk2imp.Plo
/ode-initval2/.deps/rk4.Plo
/ode-initval2/.deps/rk4imp.Plo
/ode-initval2/.deps/rk8pd.Plo
/ode-initval2/.deps/rkck.Plo
/ode-initval2/.deps/rkf45.Plo
/ode-initval2/.deps/step.Plo
/ode-initval2/.deps/test.Po
/ode-initval2/Makefile
/permutation/.deps/canonical.Plo
/permutation/.deps/file.Plo
/permutation/.deps/init.Plo
/permutation/.deps/inline.Plo
/permutation/.deps/permutation.Plo
/permutation/.deps/permute.Plo
/permutation/.deps/test.Po
/permutation/Makefile
/poly/.deps/dd.Plo
/poly/.deps/deriv.Plo
/poly/.deps/eval.Plo
/poly/.deps/solve_cubic.Plo
/poly/.deps/solve_quadratic.Plo
/poly/.deps/test.Po
/poly/.deps/zsolve.Plo
/poly/.deps/zsolve_cubic.Plo
/poly/.deps/zsolve_init.Plo
/poly/.deps/zsolve_quadratic.Plo
/poly/Makefile
/qrng/.deps/halton.Plo
/qrng/.deps/inline.Plo
/qrng/.deps/niederreiter-2.Plo
/qrng/.deps/qrng.Plo
/qrng/.deps/reversehalton.Plo
/qrng/.deps/sobol.Plo
/qrng/.deps/test.Po
/qrng/Makefile
/randist/.deps/bernoulli.Plo
/randist/.deps/beta.Plo
/randist/.deps/bigauss.Plo
/randist/.deps/binomial.Plo
/randist/.deps/binomial_tpe.Plo
/randist/.deps/cauchy.Plo
/randist/.deps/chisq.Plo
/randist/.deps/dirichlet.Plo
/randist/.deps/discrete.Plo
/randist/.deps/erlang.Plo
/randist/.deps/exponential.Plo
/randist/.deps/exppow.Plo
/randist/.deps/fdist.Plo
/randist/.deps/flat.Plo
/randist/.deps/gamma.Plo
/randist/.deps/gauss.Plo
/randist/.deps/gausstail.Plo
/randist/.deps/gausszig.Plo
/randist/.deps/geometric.Plo
/randist/.deps/gumbel.Plo
/randist/.deps/hyperg.Plo
/randist/.deps/landau.Plo
/randist/.deps/laplace.Plo
/randist/.deps/levy.Plo
/randist/.deps/logarithmic.Plo
/randist/.deps/logistic.Plo
/randist/.deps/lognormal.Plo
/randist/.deps/multinomial.Plo
/randist/.deps/nbinomial.Plo
/randist/.deps/pareto.Plo
/randist/.deps/pascal.Plo
/randist/.deps/poisson.Plo
/randist/.deps/rayleigh.Plo
/randist/.deps/shuffle.Plo
/randist/.deps/sphere.Plo
/randist/.deps/tdist.Plo
/randist/.deps/test.Po
/randist/.deps/weibull.Plo
/randist/Makefile
/rng/.deps/borosh13.Plo
/rng/.deps/cmrg.Plo
/rng/.deps/coveyou.Plo
/rng/.deps/default.Plo
/rng/.deps/file.Plo
/rng/.deps/fishman18.Plo
/rng/.deps/fishman20.Plo
/rng/.deps/fishman2x.Plo
/rng/.deps/gfsr4.Plo
/rng/.deps/inline.Plo
/rng/.deps/knuthran.Plo
/rng/.deps/knuthran2.Plo
/rng/.deps/knuthran2002.Plo
/rng/.deps/lecuyer21.Plo
/rng/.deps/minstd.Plo
/rng/.deps/mrg.Plo
/rng/.deps/mt.Plo
/rng/.deps/r250.Plo
/rng/.deps/ran0.Plo
/rng/.deps/ran1.Plo
/rng/.deps/ran2.Plo
/rng/.deps/ran3.Plo
/rng/.deps/rand.Plo
/rng/.deps/rand48.Plo
/rng/.deps/random.Plo
/rng/.deps/randu.Plo
/rng/.deps/ranf.Plo
/rng/.deps/ranlux.Plo
/rng/.deps/ranlxd.Plo
/rng/.deps/ranlxs.Plo
/rng/.deps/ranmar.Plo
/rng/.deps/rng.Plo
/rng/.deps/slatec.Plo
/rng/.deps/taus.Plo
/rng/.deps/taus113.Plo
/rng/.deps/test.Po
/rng/.deps/transputer.Plo
/rng/.deps/tt.Plo
/rng/.deps/types.Plo
/rng/.deps/uni.Plo
/rng/.deps/uni32.Plo
/rng/.deps/vax.Plo
/rng/.deps/waterman14.Plo
/rng/.deps/zuf.Plo
/rng/Makefile
/roots/.deps/bisection.Plo
/roots/.deps/brent.Plo
/roots/.deps/convergence.Plo
/roots/.deps/falsepos.Plo
/roots/.deps/fdfsolver.Plo
/roots/.deps/fsolver.Plo
/roots/.deps/newton.Plo
/roots/.deps/secant.Plo
/roots/.deps/steffenson.Plo
/roots/.deps/test.Po
/roots/.deps/test_funcs.Po
/roots/Makefile
/siman/.deps/siman.Plo
/siman/.deps/siman_tsp.Po
/siman/.deps/test.Po
/siman/Makefile
/sort/.deps/sort.Plo
/sort/.deps/sortind.Plo
/sort/.deps/sortvec.Plo
/sort/.deps/sortvecind.Plo
/sort/.deps/subset.Plo
/sort/.deps/subsetind.Plo
/sort/.deps/test.Po
/sort/Makefile
/specfunc/.deps/airy.Plo
/specfunc/.deps/airy_der.Plo
/specfunc/.deps/airy_zero.Plo
/specfunc/.deps/atanint.Plo
/specfunc/.deps/bessel.Plo
/specfunc/.deps/bessel_I0.Plo
/specfunc/.deps/bessel_I1.Plo
/specfunc/.deps/bessel_In.Plo
/specfunc/.deps/bessel_Inu.Plo
/specfunc/.deps/bessel_J0.Plo
/specfunc/.deps/bessel_J1.Plo
/specfunc/.deps/bessel_Jn.Plo
/specfunc/.deps/bessel_Jnu.Plo
/specfunc/.deps/bessel_K0.Plo
/specfunc/.deps/bessel_K1.Plo
/specfunc/.deps/bessel_Kn.Plo
/specfunc/.deps/bessel_Knu.Plo
/specfunc/.deps/bessel_Y0.Plo
/specfunc/.deps/bessel_Y1.Plo
/specfunc/.deps/bessel_Yn.Plo
/specfunc/.deps/bessel_Ynu.Plo
/specfunc/.deps/bessel_amp_phase.Plo
/specfunc/.deps/bessel_i.Plo
/specfunc/.deps/bessel_j.Plo
/specfunc/.deps/bessel_k.Plo
/specfunc/.deps/bessel_olver.Plo
/specfunc/.deps/bessel_sequence.Plo
/specfunc/.deps/bessel_temme.Plo
/specfunc/.deps/bessel_y.Plo
/specfunc/.deps/bessel_zero.Plo
/specfunc/.deps/beta.Plo
/specfunc/.deps/beta_inc.Plo
/specfunc/.deps/clausen.Plo
/specfunc/.deps/coulomb.Plo
/specfunc/.deps/coulomb_bound.Plo
/specfunc/.deps/coupling.Plo
/specfunc/.deps/dawson.Plo
/specfunc/.deps/debye.Plo
/specfunc/.deps/dilog.Plo
/specfunc/.deps/elementary.Plo
/specfunc/.deps/ellint.Plo
/specfunc/.deps/elljac.Plo
/specfunc/.deps/erfc.Plo
/specfunc/.deps/exp.Plo
/specfunc/.deps/expint.Plo
/specfunc/.deps/expint3.Plo
/specfunc/.deps/fermi_dirac.Plo
/specfunc/.deps/gamma.Plo
/specfunc/.deps/gamma_inc.Plo
/specfunc/.deps/gegenbauer.Plo
/specfunc/.deps/hyperg.Plo
/specfunc/.deps/hyperg_0F1.Plo
/specfunc/.deps/hyperg_1F1.Plo
/specfunc/.deps/hyperg_2F0.Plo
/specfunc/.deps/hyperg_2F1.Plo
/specfunc/.deps/hyperg_U.Plo
/specfunc/.deps/laguerre.Plo
/specfunc/.deps/lambert.Plo
/specfunc/.deps/legendre_H3d.Plo
/specfunc/.deps/legendre_Qn.Plo
/specfunc/.deps/legendre_con.Plo
/specfunc/.deps/legendre_poly.Plo
/specfunc/.deps/log.Plo
/specfunc/.deps/mathieu_angfunc.Plo
/specfunc/.deps/mathieu_charv.Plo
/specfunc/.deps/mathieu_coeff.Plo
/specfunc/.deps/mathieu_radfunc.Plo
/specfunc/.deps/mathieu_workspace.Plo
/specfunc/.deps/poch.Plo
/specfunc/.deps/pow_int.Plo
/specfunc/.deps/psi.Plo
/specfunc/.deps/result.Plo
/specfunc/.deps/shint.Plo
/specfunc/.deps/sinint.Plo
/specfunc/.deps/synchrotron.Plo
/specfunc/.deps/test_airy.Po
/specfunc/.deps/test_bessel.Po
/specfunc/.deps/test_coulomb.Po
/specfunc/.deps/test_dilog.Po
/specfunc/.deps/test_gamma.Po
/specfunc/.deps/test_hyperg.Po
/specfunc/.deps/test_legendre.Po
/specfunc/.deps/test_mathieu.Po
/specfunc/.deps/test_sf.Po
/specfunc/.deps/transport.Plo
/specfunc/.deps/trig.Plo
/specfunc/.deps/zeta.Plo
/specfunc/Makefile
/stamp-h1
/statistics/.deps/absdev.Plo
/statistics/.deps/covariance.Plo
/statistics/.deps/kurtosis.Plo
/statistics/.deps/lag1.Plo
/statistics/.deps/mean.Plo
/statistics/.deps/median.Plo
/statistics/.deps/minmax.Plo
/statistics/.deps/p_variance.Plo
/statistics/.deps/quantiles.Plo
/statistics/.deps/skew.Plo
/statistics/.deps/test.Po
/statistics/.deps/test_nist.Po
/statistics/.deps/ttest.Plo
/statistics/.deps/variance.Plo
/statistics/.deps/wabsdev.Plo
/statistics/.deps/wkurtosis.Plo
/statistics/.deps/wmean.Plo
/statistics/.deps/wskew.Plo
/statistics/.deps/wvariance.Plo
/statistics/Makefile
/sum/.deps/levin_u.Plo
/sum/.deps/levin_utrunc.Plo
/sum/.deps/test.Po
/sum/.deps/work_u.Plo
/sum/.deps/work_utrunc.Plo
/sum/Makefile
/sys/.deps/coerce.Plo
/sys/.deps/expm1.Plo
/sys/.deps/fcmp.Plo
/sys/.deps/fdiv.Plo
/sys/.deps/hypot.Plo
/sys/.deps/infnan.Plo
/sys/.deps/invhyp.Plo
/sys/.deps/ldfrexp.Plo
/sys/.deps/log1p.Plo
/sys/.deps/minmax.Plo
/sys/.deps/pow_int.Plo
/sys/.deps/prec.Plo
/sys/.deps/test.Po
/sys/Makefile
/test/.deps/results.Plo
/test/Makefile
/utils/.deps/memcpy.Po
/utils/.deps/memmove.Po
/utils/.deps/placeholder.Plo
/utils/.deps/strdup.Po
/utils/.deps/strtol.Po
/utils/.deps/strtoul.Po
/utils/Makefile
/vector/.deps/copy.Plo
/vector/.deps/file.Plo
/vector/.deps/init.Plo
/vector/.deps/minmax.Plo
/vector/.deps/oper.Plo
/vector/.deps/prop.Plo
/vector/.deps/reim.Plo
/vector/.deps/subvector.Plo
/vector/.deps/swap.Plo
/vector/.deps/test.Po
/vector/.deps/test_static.Po
/vector/.deps/vector.Plo
/vector/.deps/view.Plo
/vector/Makefile
/wavelet/.deps/bspline.Plo
/wavelet/.deps/daubechies.Plo
/wavelet/.deps/dwt.Plo
/wavelet/.deps/haar.Plo
/wavelet/.deps/test.Po
/wavelet/.deps/wavelet.Plo
/wavelet/Makefile
/VC/gsl/gsl.vcxproj.user
